<div class="navbar-container">
  <div class="navbar-wrapper">
    <nav class="navbar">
      <div class="navbar-dropdown-header">
        <div class="navbar-dropdown-logo">
          <img src="/assets/img/AWS CLOUD CLUB.png" />
          <div class="navbar-dropdown-logo-text">
            <p>AWS Cloud Club - UP Mindanao</p>
            <p>It's Always Day One!</p>
          </div>
        </div>
        <button class="navbar-dropdown-button close" aria-label="Toggle Menu">
          <img src="/assets/icons/undo-2.png" />
        </button>
      </div>
      <a href="/pages/officers.html">Officers</a>
      <a href="/pages/events.html">Events</a>
      <a href="">Workshops</a>
      <a href="/pages/blogs.html">Blogs</a>
      <a href="/pages/about.html">About</a>
      <a href="">Join Us</a>
    </nav>
    <button class="navbar-dropdown-button open" aria-label="Toggle Menu">
      <img src="/assets/icons/menu.png" />
    </button>
  </div>
  <img class="navbar-logo" src="/assets/img/AWS CLOUD CLUB.png" />
  <p class="navbar-logo-text top gradient-text">AWS Cloud Club</p>
  <p class="navbar-logo-text bottom">UP Mindanao</p>
</div>
