<div class="officer-card">
  <div class="officer-card-inner">
    <div class="officer-card-back">
      <div class="loading-content">
        <h3 class="loading-name"></h3>
        <h5 class="loading-position"></h5>
      </div>
    </div>
    <div class="officer-card-front">
      <img class="headShot" src="../assets/img/headShot.webp">
      <div class="officer-info">
        <h3 class="officer-name"></h3>
        <h5 class="officer-position"></h5>
        <p class="officer-desc"></p>
      </div>
    </div>
  </div>
</div>
