/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
	font-family: "Amazon Ember Display";
	src: url("../fonts/AmazonEmberDisplay_Rg.ttf") format("ttf");
	font-weight: 500;
}

/* Variables */
:root {
	/* Colors */
	--white: #FFFFFF;

	/* For Nav Animation */
	--logoToNav: -132px;
	--logoTextToNav: -188px;
	--leftmost: -50vw;
	--rightmost: 50vw;

	background: black;
}

/* Global/Reusable CSS */
.gradient-text {
	background: linear-gradient(135.066deg, #FFFFFF 18%, #BBAFFD 47%, #EFDCF1 110%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
}

/* Navbar CSS */
.navbar-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100px;
}

.navbar-wrapper {
	width: 100vw;
	padding: 30px 0 20px 0;
	transform: scale(1, 0.9);
	transition: backdrop-filter 0.5s, background 0.4s, transform 1s;
}

.navbar-blurred {
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(10px);
	transform: scale(1);
	transition: backdrop-filter 0.5s, background 1s, transform 0.4s;
}

.navbar {
	display: flex;
	gap: 22px;
	height: auto;
	font-family: "Amazon Ember Display", sans-serif;
	transition: transform 1s;
	justify-content: center;
}

.navbar.scrolled {
	transform: translateX(calc(var(--rightmost) - 15rem));
	transition: transform 1s;
}

.navbar > a {
	display: flex;
	font-size: 14px;
	flex-direction: column;
	text-decoration: none;
	color: var(--white);
}

.navbar > a::after {
	content: "";
	width: 0%;
	height: 3px;
	background: var(--white);
	align-self: center;
	transition: width 0.3s;
	transition-timing-function: ease;
}

.navbar > a:hover::after {
	content: "";
	width: 100%;
	height: 3px;
	background: var(--white);
	transition: width 0.3s;
	transition-timing-function: ease;
}

.navbar-logo {
	height: 100px;
	width: 100px;
	transition: transform 1s, height 1s, width 1s;
	margin: 80px 0 20px 0; /* If changed, adjust scrolled translateY */
}

/* If changed, adjust scrolled translateY */
.navbar-logo.scrolled {
	height: 40px;
	width: 40px;
	transform:
		translate(calc(var(--leftmost) + 3rem), var(--logoToNav));
	transition: transform 1s, height 1s, width 1s;
}

.navbar-logo-text {
	justify-self: center;
	font-family: "Amazon Ember Display", sans-serif;
	font-weight: bold;
	text-align: center;
	-webkit-text-fill-color: var(--white);
}

.navbar-logo-text.top {
	font-size: 46px;
	transition: transform 0.8s, font-size 0.8s, -webkit-text-fill-color 2.8s;
}

.navbar-logo-text.bottom {
	white-space: nowrap;
	font-size: 26px;
	transition: transform 0.8s, font-size 0.8s;
}

.navbar-logo-text.bottom::before,
.navbar-logo-text.bottom::after {
	display: inline-block;
	content: "";
	height: 1px;
	width: 30px;
	margin: 0 10px 10px 10px;
	background: transparent;
	transform: scale(0.1);
	transition: background 0.3s, transform 0.5s;
}

.navbar-logo-text.bottom:not(.scrolled)::before,
.navbar-logo-text.bottom:not(.scrolled)::after {
	background: var(--white);
	opacity: 0.5;
	transform: scale(1);
	transition: background 0.3s, transform 0.5s;
}

.navbar-logo-text.scrolled.top {
	transform:
		translate(calc(var(--leftmost) + 8rem), var(--logoTextToNav));
	font-size: 12px;
	transition: transform 1.1s, font-size 1.1s;
}

.navbar-logo-text.scrolled.bottom {
	transform:
		translate(calc(var(--leftmost) + 8rem - 0.58rem), var(--logoTextToNav));
	font-size: 12px;
	transition: transform 1.2s, font-size 1.2s;
}

.navbar.static {
	transform: translateX(calc(var(--rightmost) - 15rem));
  transition: none !important;
}

.navbar-logo.static {
	height: 50px;
	width: 50px;
	transform:
		translate(calc(var(--leftmost) + 3rem), var(--logoToNav));
  transition: none !important;
}

.navbar-logo-text.static.top {
	transform:
		translate(calc(var(--leftmost) + 8rem), var(--logoTextToNav));
	font-size: 12px;
  transition: none !important;
}

.navbar-logo-text.static.bottom {
	transform:
		translate(calc(--var(leftmost) + 8rem - 0.58rem), var(--logoTextToNav));
	font-size: 12px;
  transition: none !important;
}

/* Temporary for Testing Scroll Animations */
body {
	background: black;
	height: 200vh;
}
